* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6f3f6;
}


nav {
    display: flex;
    flex-direction: row;
    border: solid 0.5px #642682;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
}

nav > button {
    border: none;
    width: 7rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;

    background-color: #886991;
}

nav > button:hover {
    background-color: #642682;
    transition: 300ms ease;
}

nav > button > span {
    color: #e5dee7;
    background: none;
}

#title {
    text-decoration: none;
    background: none;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.container, nav {
    max-width: 70%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;


    background-color: #e5dee7;
}

.container {
    border: solid 0.5px #642682;
    display: grid;
    padding: 1rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    .item {
        border: solid 0.5px #642682;
        border-radius: 0.3rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    
}

dialog {
    border: solid 0.5px #642682;
    background-color: #e5dee7;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0,5);
    backdrop-filter: blur(0.2rem);
}

.form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5dee7;
    margin: auto;

    #form-title{
        background: none;
    }
}

.form > div, .form > input, .form-buttons {
    margin: 0.6rem;
}

.form > input {
    border: solid 0.5px #642682;
}

form > fieldset {
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

fieldset > .form-buttons {
    width: 5rem;
    height: 2rem;
    border: solid 0.5px #642682;
    border-radius: 0.3rem;
}

fieldset > .form-buttons:hover {
    background-color: #642682;
    color: #e5dee7;
    transition: 300ms ease;
}

.hidden {
    display: none;
}
